<div class="flex justify-center pb-12">
  <a class="btn mt-11 rounded-full bg-white px-5 py-0 hover:bg-[#024853] hover:text-white hover:shadow-lg transition duration-300" href="https://play.google.com/store/apps/details?id=com.terrafarms.terrafarms" target="_blank">
    <div class="flex">
      <span class="btn-label flex items-center">Unduh Terrafarms di</span>
      <img class="m-3 flex items-center" src="images/Google-Play.webp" width="30" height="30" alt="banner image" />
      <span class="btn-label flex items-center googleplay">Google Play</span>
    </div>
  </a>
</div>
