---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import GooglePlay from "@layouts/components/GooglePlay.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("download", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[20px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold lg:text-6xl">{banner?.title}</h1>

          {
            banner?.content && (
              <p class="mt-4 lg:text-2xl" set:html={markdownify(banner.content)} />
            )
          }

          <GooglePlay/>
        </div>
      </div>
    </div>
  </section>
  <!-- Workflow -->
  <section class="section pb-12">
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
  </section>
</Base>
